.custom-container {
    display: flex;
    justify-content: space-between;
}

.custom-img-preview {
    /* margin-top: 1rem; */
    padding-left: 1rem;
}

.custom-img {
    display: block;
    max-width: 120px;
    min-width: 120px;
    height: 120px;
    border-radius: 20%;
}

.custom-intro {
    background-color: #e6e6e6;
    padding-top: 1rem;
    padding-bottom: 0.2rem;
    border-radius: 1rem;
}