---
import Section from '@/components/Section.astro';
import Base from '@/layouts/Base.astro';
import Heading from '@/components/Heading.astro';
import Tags from '@/components/Tags.astro';
import { AppConfig } from '@/utils/AppConfig';
import { getCollection } from 'astro:content';
import PostCollection from '@/components/PostCollection.astro';

export async function getStaticPaths() {
  const allPosts = await getCollection('posts');
  const allTags: Set<string> = new Set(allPosts.map((post) => post.data.tags).flat());

  return Array.from(allTags).map((tag) => ({
    params: { tag },
    props: {
      posts: allPosts.filter((post) => post.data.tags?.includes(tag))
    }
  }));
}

const { tag } = Astro.params;
const title = AppConfig.title;
const description = AppConfig.description;

const { posts } = Astro.props;
---

<Base head={{ title, description }}>
  <Section>
    <div class="flex items-center justify-center gap-2">
      <Heading title="Posts with tag:" />
      <div class="self-end">
        <Tags tags={[tag]} />
      </div>
    </div>
  </Section>
  <Section>
    {(<PostCollection posts={posts} />)}
  </Section>
</Base>
