---
import { AppConfig } from '@/utils/AppConfig';
import Section from './Section.astro';

const year = new Date();
---

<Section>
  <footer class="my-4 text-center">
    {AppConfig.site_name} © {year.getFullYear()} - made with ♥️
  </footer>
</Section>
