---
import Section from './Section.astro';
import Card from './Card.astro';
import { AnyEntryMap, CollectionEntry } from 'astro:content';

type Post = CollectionEntry<keyof AnyEntryMap>;

interface Props {
  posts: Post[];
}

const { posts } = Astro.props;
---

<Section>
  <div class="flex justify-between pb-4">
    <p class="text-xl font-bold">---</p>
    <p class="text-xl font-bold">---</p>
  </div>
  <div class="mx-auto flex max-w-3xl flex-col gap-4">
    {posts.map((post: Post) => <Card post={post} />)}
  </div>
</Section>
