<!-- Slider main container -->
<div class="custom-swiper-container">
    <div class="swiper-container gallery-top">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
          <!-- Slides -->
          {% for image in site.data.pi-deck-teaser.pi_deck_teaser_collection %}
            <div class="swiper-slide"><img class="gallery-img-fit" src="/_img/pi-deck/teaser/{{ image }}" alt=""></div>
          {% endfor %}
    
      </div>
      <!-- If we need pagination -->
      <!-- <div class="swiper-pagination"></div> -->
    
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    
      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
    
    <div class="swiper-container gallery-thumbs">
      <div class="swiper-wrapper">
        {% for thumbnail in site.data.pi-deck-teaser.pi_deck_teaser_collection %}
        <!-- <div class="swiper-slide" style="background-image: url(/_img/piserver/collection/{{ thumbnail }}"></div> -->
        <div class="swiper-slide"><img class="thumb-image" src="/_img/pi-deck/teaser/{{ thumbnail }}" alt=""></div>
        {% endfor %}
      </div>
    </div>
    </div>